body {
    font-family: Arial, sans-serif;
    text-align: center;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}



.secret-div{
    display: flex;
    justify-content: center;
    align-items: center;
}



.guess {
    display: flex;
    justify-content: center;
    align-items: center;

}



.game-div{
    /* margin-left: 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* width: 40px; */
    /* border-bottom: 2px gray solid; */
}
/* 
.guess-el-div{
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
        border-bottom: 2px gray solid; 
} */

.guess-el-div{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

li, ul{
    list-style-type: none;

}